@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#content {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

#profile {
	margin-top: 50px;
}

@media screen and (min-width: 768px) {
	#profile {
		margin: 50px auto 0 auto;
		display: flex;
		align-items: center;
		width: 80%;
	}
}

#skills {
	margin-top: 50px;
}

.project_img {
	text-align: center;
}

h2 {
	position: relative;
	padding: 0.7rem 1rem;
	text-align: center;
	margin-top: 100;
}

h2::before, h2::after {
	position: absolute;
	display: inline-block;
	content: '';
	width: 20px;
	height: 30px;
}

h2::before {
	top: 0px;
	left: 0px;
	border-top: 2px solid #f44336;
	border-left: 2px solid #f44336;
}

h2::after {
	right: 0px;
	bottom: 0px;
	border-right: 2px solid #f44336;
	border-bottom: 2px solid #f44336;
}

#project img {
	box-sizing: border-box;
	width: 45%;
	margin: 2%;
}

.w3-modal img {
	width: 95% !important;
}